body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #5786b8) 
}

.formulario{
    width: 400px;
    height: 400px;
    background-color: #5786b8;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px black;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    width: 91%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border: 10px;
    border-radius: 5px;
    resize: none;
}

button{
border: 10px;
border-radius: 5px;
}